/****************
  GLOBAL STYLES
****************/
main {
  font-family: "work sans", sans-serif;
  color: #000000;
}

nav img {
  margin: 20px 0 0 20px;
  max-width: 30px;
  transition: ease-in-out 0.2s;
}
nav img:hover {
  opacity: 50%;
  transition: ease-in-out 0.2s;
}

footer.page-footer {
  margin: 15vh 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 4rem;
  }
}

.card {
  box-shadow: none;
}
.card .card-title {
  font-weight: 600;
}
.card .btn-flat {
  height: 40px;
  font-weight: 600;
  border: solid 2px black;
  border-radius: 7px;
}
.card .btn-flat:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.card.hoverable {
  transition: ease-in-out 0.3s;
}
.card.hoverable:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  transition: ease-in-out 0.3s;
  box-shadow: 0 0 15px 0 rgba(222, 222, 222, 0.75);
}

/*******
  SWUP
*******/
.transition-fade {
  transition: 0.3s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/********
  INDEX
********/
#index-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#index-spacer {
  margin-top: 100vh;
}

/***********
  PROJECTS
***********/
.project-title {
  margin-top: 20vh;
}

/********************
  SCROLL DOWN ARROW
********************/
#arrow-wrapper {
  position: absolute;
  top: 35%;
  display: table;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#arrow-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #999999;
  border-right: 2px solid #999999;
  behavior: url("-ms-transform.htc");
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#scroll-title {
  display: block;
  text-transform: uppercase;
  color: #999999;
  font-family: "work sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -2px;
  width: 2px;
  height: 90px;
  background: #999999;
  content: " ";
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
